@page
@model IndexModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Home page"];
}

<div class="text-center">
    
    <h1 class="display-4">@Localizer["Welcome"]</h1>
    <a asp-page="/Index" asp-page-handler="Save"></a>
    <h2>@Model.Student</h2>
    <p>@Localizer["Learn about building Web apps with ASP.NET Core."]</p>
</div>
